# # Block Quoc Te
# <IfModule mod_geoip.c>
# GeoIPEnable On
# SetEnvIf GEOIP_COUNTRY_CODE VN AllowCountry
# deny from all
# allow from env=AllowCountry
# </IfModule>
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
#auth
ErrorDocument 404 https://localhost/hou_realease/404.php
RewriteRule ^home$ index.php [L]
RewriteRule ^login$ pages/auth/login.php [L]
RewriteRule ^login/teacher$ pages/auth/login-teacher.php [L]
RewriteRule ^logout$ pages/auth/logout.php [L]
RewriteRule ^forgot-password$ pages/auth/forgot.php [L]
RewriteRule ^forgot-password/([A-Za-z0-9-]+)$ pages/auth/forgot.php?type=$1 [L]
RewriteRule ^reset/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)$ pages/auth/reset.php?type=$1&username=$2&code=$3 [L]

#students
RewriteRule ^student/check-point$ pages/student/check-point.php [L]
RewriteRule ^student/check-point/pass$ pages/student/point_pass.php [L]
RewriteRule ^student/check-point/nonpass$ pages/student/point_nonpass.php [L]
RewriteRule ^student/profile$ pages/student/profile.php [L]
RewriteRule ^blogs/([A-Za-z0-9-]+)$ blogs/view.php?slug=$1 [L]

RewriteRule ^student/peee$ pages/student/pee.php [L]
RewriteRule ^student/list/subject$ pages/student/subject.php [L]
RewriteRule ^helper/([A-Za-z0-9-]+)$ blogs/list.php?tab=$1 [L]
RewriteRule ^helpers blogs/lists.php [L]

#cán bộ lớp
RewriteRule ^leader/list/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)$ pages/leader/list.php?course=$1&class=$2 [L]
RewriteRule ^leader/view/([A-Za-z0-9-]+)$ pages/leader/view.php?usn=$1 [L]

#teacher
RewriteRule ^teacher/class/list$ pages/teacher/list-class.php [L]
RewriteRule ^teacher/finds$ pages/teacher/finds.php [L]
RewriteRule ^teacher/createBlogs$ pages/teacher/blogs.php [L]
RewriteRule ^teacher/view/student/([A-Za-z0-9-]+)$ pages/teacher/students.php?username=$1 [L]
RewriteRule ^teacher/mail/student/([A-Za-z0-9-]+)$ pages/teacher/mail.php?username=$1 [L]
RewriteRule ^teacher/mail/class/([A-Za-z0-9-]+)-([A-Za-z0-9-]+)$ pages/teacher/mailclass.php?course=$1&class=$2 [L]
RewriteRule ^teacher/view/class/([A-Za-z0-9-]+)-([A-Za-z0-9-]+)$ pages/teacher/class.php?course=$1&class=$2 [L]
RewriteRule ^teacher/blogs/create$ pages/teacher/blogs.php [L]
RewriteRule ^teacher/editBlogs/([A-Za-z0-9-]+)$ pages/teacher/editblogs.php?id=$1 [L]
RewriteRule ^teacher/noti/create$ pages/teacher/noti.php [L]