# # Block Quoc Te
# <IfModule mod_geoip.c>
# GeoIPEnable On
# SetEnvIf GEOIP_COUNTRY_CODE VN AllowCountry
# deny from all
# allow from env=AllowCountry
# </IfModule>
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
ErrorDocument 404 /404.html
RewriteRule ^home$ index.php [L]
RewriteRule ^login$ pages/auth/login.php [L]
RewriteRule ^login/teacher$ pages/auth/login-teacher.php [L]
RewriteRule ^logout$ pages/auth/logout.php [L]
RewriteRule ^forgot-password$ pages/auth/forgot.php [L]
RewriteRule ^student/check-point$ pages/student/check-point.php [L]
RewriteRule ^student/check-point/pass$ pages/student/point_pass.php [L]
RewriteRule ^student/check-point/nonpass$ pages/student/point_nonpass.php [L]
RewriteRule ^student/profile$ pages/student/profile.php [L]
RewriteRule ^student/reset$ pages/auth/reset.php [L]
RewriteRule ^student/peee$ pages/student/pee.php [L]


RewriteRule ^leader/list/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)$ pages/leader/list.php?course=$1&class=$2 [L]
RewriteRule ^leader/view/([A-Za-z0-9-]+)$ pages/leader/view.php?usn=$1 [L]

